@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --editor-text-color-light: black;
    --editor-text-color-dark: white;
    --editor-bg-color-light: white;
    --editor-bg-color-dark: #333;
  }
  
  .ql-editor {
    color: var(--editor-text-color-light);
    background-color: var(--editor-bg-color-light);
    font-size: 1.05rem;

  }
  
  .dark-mode .ql-editor {
    color: var(--editor-text-color-dark);
    background-color: var(--editor-bg-color-dark);
  }
  

  .ql-snow .ql-editor::-webkit-scrollbar-thumb {
    background-color: #555;
  }
  
  .ql-snow .ql-editor::-webkit-scrollbar-track {
    background-color: #333;
  }
  body {
    height: 100vh;
  }
  
  .ql-editor {
    font-size: 1.05rem;
  }
  
  .post-content p {
    margin-bottom: 0.5rem;
  }
  
  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: red;
  }
  
  